#invalid {
	text-align: center;
	color: red;
}

.forgot-title {
	color: white;
}

.main-container {
	width: 40%;
	margin: 250px auto;
}

.main-footer {
	position:absolute;
	height: 250px;
	width:100%;
	margin-top: 331px;
}